<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471255930862-18u2el6mqhfccj4lrmhkd6d9advseuc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471255930862-18u2el6mqhfccj4lrmhkd6d9advseuc1</string>
	<key>API_KEY</key>
	<string>AIzaSyBoilcf6BPTa94Lep7pLhBf2ll2VzA_JH4</string>
	<key>GCM_SENDER_ID</key>
	<string>471255930862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.insta</string>
	<key>PROJECT_ID</key>
	<string>fluttergram-c2af5</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttergram-c2af5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471255930862:ios:4ac0d071c0779df42c60ff</string>
</dict>
</plist>